<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="Spring-database.xml" />
	<import resource="Spring-user.xml" />
	<import resource="Spring-Message.xml" />
	<import resource="Spring-Inbox.xml" />
	<import resource="Spring-Friend.xml" />
	<import resource="Spring-Blocked.xml" />
</beans>
